.zodiac-wheel {
  width: 300px;
  height: 300px;
  touch-action: none;
  cursor: pointer;
}

.wrapper {
  background-image: url("/selected_badge.png");
  border-radius: 50%;
  background-color: #283848;
  background-repeat: no-repeat;
  width: fit-content;
  height: fit-content;
  background-position: center top;
  background-size: 75px;
  /* background-position-y: calc(5px); */
  /* padding: 10px; */
  box-sizing: border-box;
}

.zodiac-wheel__center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.zodiac-wheel__container {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.zodiac-wheel__sector {
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  translate: 0 -50%;
  width: 150px;
  display: flex;
  justify-content: flex-end;
  padding-right: 16px;
  transform-origin: left center;
}

.zodiac_icon {
  /* background-blend-mode: overlay; */
  filter: invert(92%) sepia(5%) saturate(1896%) hue-rotate(350deg)
    brightness(101%) contrast(93%);
}
